$breakpoint-laptop:1200px;
$breakpoint-tablet:790px;
$breakpoint-smartphone:480px;
.footer
{   
    margin-top: var(--margin-top-container-footer-laptop-);
    grid-column: 1/4;
    height: auto;
    background-color: var(--color-black);
}
.container-footer
{
   margin: var(--margin-container-total-);
   display: flex;
   gap: 100px;
   justify-content: space-between;
}

.footer-logo
{
    width: 15.2em;
}
.container-footer__containt 
{
    display: flex;
    align-items: center;
}
.first-container-footer
{
    grid-column: 1/2;
}
.containt--p
{
    margin-left: 0.5em;
    font-weight: medium;
}

.second-container-footer
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.second-container-footer
{
}
@media screen and (max-width:$breakpoint-laptop){

.container-footer
{
    margin: 2.2em;
}
}
@media screen and (max-width:$breakpoint-tablet)
{
.footer
{
    margin-top: var(--margin-top-container-footer-tablet-);
}
.container-footer
{
    margin: 2em;
}
.first-container-footer
{
    font-size: 20px;
}
.footer-logo
{
    width: 100px;
}
.containt--p
{
    margin-left: 0.5em;
    font-size: 11px;
    font-weight: medium;
}


}

@media screen and (max-width:$breakpoint-smartphone)
{
.footer
{
    margin-top: var(--margin-top-container-footer-smartphone-);
}
.container-footer
{
    margin: 1em;
}
.first-container-footer
{
    font-size: 20px;
}
.footer-logo
{
    width: 80px;
}
.containt--p
{
    font-size: 9px ;
}
}